<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>
<div th:fragment="content">

    <div class="container">
        <form th:action="@{/department/crear/}" method="get">

        <!-- Create Button -->
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>Crear
        </button>
        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Factoría</td>
                    <td>Factoria de Software</td>
                    <td>Activo</td>
                    <td>
                        <a href="">
                            <span class="glyphicon glyphicon-edit">

                            </span>
                            Editar
                        </a>
                        <a href="">
                            <span class="glyphicon glyphicon-trash">

                            </span>
                            Eliminar
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Gestion Humana</td>
                    <td>Recursos Humanos</td>
                    <td>Activo</td>
                    <td>
                        <a href="">
                            <span class="glyphicon glyphicon-edit">

                            </span>
                            Editar
                        </a>
                        <a href="">
                            <span class="glyphicon glyphicon-trash">

                            </span>
                            Eliminar
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        </form>
    </div>

</div>
</body>
</html>
