<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div th:fragment="content">
    <div class="container">
        <div class="col-md-6">

            <form id="search-form" th:method="POST" th:object="${empleado}">
                <div class="page-header">
                    <h1 class="crearEmpleado">Crear Empleado</h1>
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" th:field="*{nombres}" class="form-control" id="nombres" placeholder="Introduzca nombres" required="required"/>
                </div>
                <div class="form-group">
                    <label for="apellido">Apellidos</label>
                    <input type="text" th:field="*{apellidos}" class="form-control" id="apellidos" placeholder="Introduzca apellidos"/>
                </div>
                <div class="form-group">
                    <label for="nombre">Correo Electrónico</label>
                    <input type="text" th:field="*{correo}" class="form-control" id="correo" placeholder="ejemplo@direccion.com"/>
                </div>

                <div>
                    <label for="nombre">Departamentos</label>
                </div>


                <div class="control-group">
                    <select class="form-control" id="departamentosDropdown" required="required">
                        <option value="">Seleccione</option>
                    </select>
                </div>

                <p><br/></p>

                <div>
                    <label for="nombre">Puestos</label>
                </div>

                <div class="control-group">
                    <select class="form-control" name="puestos" id="puestosDropdown" th:field="*{puestoEntity.puestoId}" required="required">
                        <option value="">Seleccione</option>
                    </select>
                </div>

                <p><br/></p>

                <div>
                    <h3 for="nombre">Ingresos</h3>
                </div>

                <hr/>

                <div th:each="empleadoIngresos, stat : *{empleadoIngreso}" id="forceIngreso" class="form-group">
                    <label th:text="${empleadoIngresos.ingresoId.nombre} + ':'">
                    </label>
                    <input class="form-control" autocomplete="off" type="text"
                           th:field="*{empleadoIngreso[__${stat.index}__].monto}"
                           placeholder="RD$0.00"/>
                    <input autocomplete="off" type="hidden"
                           th:field="*{empleadoIngreso[__${stat.index}__].ingresoId.ingresoId}"
                           placeholder="RD$"/>
                </div>
                <p><br/></p>

                <div>
                    <h3 for="nombre">Deducciones</h3>
                </div>

                <hr/>

                <div th:each="empleadoDeduccion, stat : *{empleadoDeduccion}" id="forceDeduccion" class="form-group">
                    <label th:text="${empleadoDeduccion.deduccionId.nombre} + ':'">
                    </label>
                    <input class="form-control" autocomplete="off" type="text"
                           th:field="*{empleadoDeduccion[__${stat.index}__].monto}"
                           placeholder="RD$0.00"/>
                    <input autocomplete="off" type="hidden"
                           th:field="*{empleadoDeduccion[__${stat.index}__].deduccionId.deduccionId}"
                           placeholder="RD$0.00"/>
                </div>
                <p><br/></p>


                <div class="control-group">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="#" th:href="@{/empleado}">
                        <button type="button" value="cancel" class="btn btn-success">Cancelar
                        </button>
                    </a>
                </div>

            </form>

        </div>
    </div>

</div>

</body>
</html>