<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div th:fragment="content">
    <div class="container">
        <form th:method="POST">
            <div class="page-header">
                <h1 class="crearEmpleado">Crear Empleado</h1>
            </div>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" th:field="${empleado.nombres}" class="form-control" id="nombres" placeholder="Introduzca nombres"/>
            </div>
            <div class="form-group">
                <label for="apellido">Apellidos</label>
                <input type="text" th:field="*{empleado.apellidos}" class="form-control" id="apellidos" placeholder="Introduzca apellidos"/>
            </div>
            <div class="form-group">
                <label for="nombre">Correo Electrónico</label>
                <input type="text" th:field="*{empleado.correo}" class="form-control" id="correo" placeholder="ejemplo@direccion.com"/>
            </div>

            <div>
                <label for="nombre">Departamentos</label>
            </div>


            <div class="control-group">
                <select id="departamentosDropdown">
                    <option value="0">Seleccione</option>
                </select>
            </div>

            <p><br/></p>

            <div>
                <label for="nombre">Puestos</label>
            </div>

            <div class="control-group">
                <select name="puestos" id="puestosDropdown" th:field="${empleado.puestoEntity.puestoId}">
                </select>
            </div>

            <p><br/></p>

            <div>
                <label for="nombre">Ingresos</label>
            </div>

            <div class="control-group">
                <select name="ingresos" id="ingresosDropdown" th:field="${empleadoIngreso.ingresoId.ingresoId}">
                    <option
                            th:each="ingreso : ${ingresos}"
                            th:value="${ingreso.ingresoId}"
                            th:text="${ingreso.descripcion}">
                    </option>
                </select>
            </div>

            <p><br/></p>

            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="#" th:href="@{/empleado}">
                <button type="button" value="cancel" class="btn btn-success">Cancelar
                </button>
            </a>
        </form>
    </div>

</div>

</body>
</html>