<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div th:fragment="content">
    <div class="container">
        <div class="col-md-6">
            <form th:method="POST" th:object="${puesto}">
                <div class="page-header">
                    <h1 class="crearPuesto">Crear Puesto</h1>
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" th:field="*{nombre}" class="form-control" id="nombre" placeholder="Nombre"/>
                </div>

                <div class="alert alert-danger alert-dismissible" role="alert" th:if="${#fields.hasErrors('nombre')}"
                     th:errors="*{nombre}" aria-label="close" data-dismiss="alert">
                </div>

                <div class="form-group">
                    <label for="descripcion">Descripción de Puesto</label>
                    <textarea class="form-control" th:field="*{descripcion}" id="descripcion" placeholder="Introduzca una descripción"></textarea>
                </div>

                <hr/>

                <div>
                    <h3>Departamentos</h3>
                </div>

                <div class="control-group">
                    <select required="required" class="form-control" name="departments" id="departments" th:field="${puesto.departamentoEntity.departamentoId}">
                        <option value="">Seleccione </option>
                        <option
                                th:each="dept : ${departamentos}"
                                th:value="${dept.getDepartamentoId()}"
                                th:text="${dept.getNombre()}">
                        </option>
                    </select>
                </div>
                <p><br/></p>
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="#" th:href="@{/puesto}">
                    <button type="button" value="cancel" class="btn btn-success">Cancelar
                    </button>
                </a>
            </form>
        </div>
    </div>

</div>

</body>
</html>