<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>
<div th:fragment="content">

    <div class="container">
        <form th:action="@{/puesto/crearPuesto/}" method="get">
            <div class="page-header">
                <h1>Puestos</h1>
            </div>
            <!-- Create Button -->
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>Crear
            </button>
            <p><br/></p>
            <!-- Table -->
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción de Puesto</th>
                        <th>Departamento</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="puesto : ${puestos}">
                        <td th:text="${puesto.nombre}"></td>
                        <td th:text="${puesto.descripcion}"></td>
                        <td th:text="${puesto.departamentoEntity.nombre}"></td>
                        <td th:text="${puesto.estado == 1 ? 'Activo' : 'Inactivo'}"></td>
                        <th th:hidden="hidden" th:text="${puesto.puestoId}"></th>
                        <td>
                            <a href="" th:href="@{/puesto/edit/{puestoId}(puestoId=${puesto.puestoId})}">
                            <span class="glyphicon glyphicon-edit">

                            </span>
                                Editar
                            </a>
                            <a href="">
                            <span class="glyphicon glyphicon-trash">

                            </span>
                                Eliminar
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </form>
    </div>

</div>
</body>
</html>
