<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div th:fragment="content">
    <div class="container">
        <div class="col-md-6">
            <form th:method="POST" th:object="${nomina}">
                <div class="page-header">
                    <h1 class="crearIngreso">Crear Nomina</h1>
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" th:field="${nomina.nombre}" class="form-control" id="nombre" placeholder="Nombre"/>
                </div>

                <div class="alert alert-danger alert-dismissible" role="alert" th:if="${#fields.hasErrors('nombre')}"
                     th:errors="*{nombre}" aria-label="close" data-dismiss="alert">
                </div>

                <div class="form-group">
                    <label for="descripcion">Descripción de la Nomina</label>
                    <textarea class="form-control" th:field="${nomina.descripcion}" id="descripcion" placeholder="Introduzca una descripción"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="#" th:href="@{/nomina}">
                    <button type="button" value="cancel" class="btn btn-success">Cancelar
                    </button>
                </a>
            </form>
        </div>
    </div>

</div>

</body>
</html>