<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div th:fragment="content">
    <div class="container">
        <div class="col-md-6">
            <form method="post" th:object="${nomina}" th:action="@{/nomina/editarNomina}">
                <div class="page-header">
                    <h1>Pagar Nómina</h1>
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <p class="label-control" th:text="*{nombre}" id="nombre"></p>
                </div>

                <div class="alert alert-danger alert-dismissible" role="alert" th:if="${#fields.hasErrors('nombre')}"
                     th:errors="*{nombre}" aria-label="close" data-dismiss="alert">
                </div>

                <div class="form-group">
                    <label for="descripcion">Descripción de Nomina</label>
                    <p th:text="${nomina.descripcion}" id="descripcion"></p>
                </div>

                <!-- Table -->

                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Ingresos</th>
                                <th>Monto</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="ingreso : ${ingreso}">
                                <td th:text="${ingreso.getKey()}"></td>
                                <td th:text="${ingreso.getValue()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-6">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Deducciones</th>
                                <th>Monto</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="deduccion : ${deduccion}">
                                <td th:text="${deduccion.getKey()}"></td>
                                <td th:text="${deduccion.getValue()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                </div>

                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Total de Ingresos</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${montoTotalIngreso}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-6">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Total de Deducciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${montoTotalDeduccion}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Ingresos Netos</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${ingresosNetos}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                </div>


                <button type="submit" class="btn btn-primary">Guardar</button>

                <a href="#" th:href="@{/nomina}">
                    <button type="button" value="cancel" class="btn btn-success">Cancelar
                    </button>
                </a>

                <input type="hidden" id="nominaId" th:field="*{nominaId}"
                       th:value="*{nominaId}"/>

                <input type="hidden" id="nominaEstado"
                       th:field="*{estado}" th:value="*{estado}"/>
            </form>
        </div>
    </div>


</div>
</body>
</html>