<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head></head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Cascada</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:classappend="${page == 'home' ? 'active' : ''}" id="home"><a href="#" th:href="@{/home}">Home</a></li>
                <li th:classappend="${page == 'departamento' ? 'active' : ''}" id="departamentos"><a href="#" th:href="@{/departamento}">Departamentos</a></li>
                <li th:classappend="${page == 'puesto' ? 'active' : ''}" id="puestos"><a href="#" th:href="@{/puesto}">Puestos</a></li>
                <li th:classappend="${page == 'ingreso' ? 'active' : ''}" id="ingresos"><a href="#" th:href="@{/ingreso}">Ingresos</a></li>
                <li th:classappend="${page == 'deduccion' ? 'active' : ''}" id="deduccion"><a href="#" th:href="@{/home}">Deducciones</a></li>
                <li th:classappend="${page == 'empleado' ? 'active' : ''}" id="empleados"><a href="#" th:href="@{/home}">Empleados</a></li>
                <li th:classappend="${page == 'nomina' ? 'active' : ''}" id="nomina"><a href="#" th:href="@{/home}">Nomina</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/logout" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
