<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head></head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">My project</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:classappend="${page == 'home' ? 'active' : ''}" id="home"><a href="#" th:href="@{/home}">Home</a></li>
                <li th:classappend="${page == 'department' ? 'active' : ''}" id="departamentos"><a href="#" th:href="@{/department}">Departamentos</a></li>
                <li><a href="#" th:href="@{/task}">Tasks</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/signin" th:href="@{/signin}">Sign in</a>
                </li>
                <li>
                    <a href="/logout" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
