<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- META -->
    <title>Cascada</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap-theme.min.css"/>
    <style>
        body {
            padding-top: 70px;
        }
    </style>

</head>


<body>
<div th:replace="fragments/header :: header(page=${page})">
    Header
</div>
<div th:replace="${view} :: content">
    Content
</div>
<!--<div th:replace="fragments/footer :: footer">-->
    <!--Footer-->
<!--</div>-->

<!-- SCRIPTS -->
<script type="text/javascript" src="../../resources/js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../resources/js/plugins/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../resources/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../resources/js/cascada.js"></script>

</body>
</html>